<li>
  <%= gravatar_for user, size: Settings.gravatar_follow %>
  <%= link_to user.username, user %>
  <% if current_user.is_admin? && !current_user?(user) %>
  <%= link_to t("delete"), user, method: :delete,
    data: {confirm: t("you_sure")} %>
  <% end %>
</li>
