@import 'bootstrap-sprockets';
@import 'bootstrap';
body{
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: Verdana, Arial, san-serif;
  font-size: 11px;
  color: #ffffff;
  background: #4b4743;
}
a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;}
a:active, a:hover { color: #e6e154; text-decoration: underline;}
p{
  margin: 0px;
  padding: 0px;
}
img{
  margin: 0px;
  padding: 0px;
  border: none;
}
.cleaner{
  clear: both;
  width: 100%;
  height: 1px;
  font-size: 1px;
}
.cleaner-with-height{
  clear: both;
  width: 100%;
  height: 30px;
  font-size: 1px;
}
.cleaner-with-width{
  float: left;
  width: 20px;
  height: 30px;
  font-size: 1px;
}
.buy-now-button a{
  clear: both;
  text-align: center;
  display: block;
  width: 100px;
  padding: 4px 0 5px 0;
  margin-bottom: 10px;
  background: url(templatemo_btn_02.jpg) no-repeat;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
.detail-button a{
  clear: both;
  text-align: center;
  display: block;
  width: 100px;
  padding: 4px 0 5px 0;
  margin-bottom: 10px;
  background: url(templatemo_btn_01.jpg) no-repeat;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
#templatemo-container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  background: #1c1c1b url(templatemo_bg.jpg) repeat-y;
}
/* menu */
#templatemo-menu{
  clear: both;
  width: 948px;
  height: 45px;
  background: url(templatemo_menu_bg.jpg) no-repeat;
}
#templatemo-menu ul{
  padding: 13px 0 0 0;
  margin: 0;
  list-style: none;
}
#templatemo-menu ul li{
  display: inline;
}
#templatemo-menu ul li a{
  float: left;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #969547;
}
#templatemo-menu li a:hover, #templatemo-menu li .current{
  color: #fcf88e;
}
/* end of menu*/
/* header */
#templatemo-header{
  clear: both;
  width: 960px;
  height: 285px;
  padding: 0;
  margin: 0;
  background: url(templatemo_header_bg.jpg) no-repeat;
}
#templatemo-header a, a:hover{
  color: #ffffff;
}
#templatemo-header #templatemo-special-offers{
  float: left;
  font-size: 14px;
  margin-top: 95px;
  margin-left: 490px;
  width: 180px;
}
#templatemo-special-offers a{
  font-size: 12px;
}
#templatemo-special-offers  p{
  margin: 0 0 20px 0;
}
#templatemo-special-offers p span{
  font-size: 18px;
}
#templatemo-header #templatemo-new-books{
  float: left;
  margin-top: 90px;
  margin-left: 55px;
  width: 180px;
}
#templatemo-new-books ul{
   margin: 0 0 10px 0;
   padding: 0 0 0 20px;
}
#templatemo-new-books li{
   margin: 0;
   padding: 0;
}
/* end of header */
/* content */
#templatemo-content{
  clear: both;
  width: 920px;
  padding: 0 20px;
}
#templatemo-content #templatemo-content-left{
  margin-top: 20px;
  float: left;
  padding: 10px;
  background-color: #171716;
  border: 1px solid #212120;
}
#templatemo-content #templatemo-content-right{
  margin-top: 20px;
  float: right;
  width: 100%;
}
#templatemo-content-left .templatemo-content-left-section{
  clear: both;
  padding-bottom: 10px;
  border-bottom: 1px solid #2b2b2a;
  margin-bottom: 20px;
}
.templatemo-content-left-section h1{
  font-size: 14px;
  color: #cbc750;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #cbc750;
}
.templatemo-content-left-section ul{
  padding: 0;
  margin: 0;
}
.templatemo-content-left-section ul li{
  padding: 0 0 3px 10px;
  list-style: none;
}
.templatemo-content-left-section ul li a{
  font-weight: bold;
  text-decoration: none;
  color: #969547;
  font-size: 14px;
}
.templatemo-content-left-section li a:hover, .templatemo-content-left-section li .current{
  color: #fcf88e;
}
#templatemo-content-right .templatemo-product-box{
  float: left;
  width: 303px;
  height: 210px;
  padding: 10px;
  border: 1px solid #333;
}
#templatemo-content-right h1{
  padding: 10px;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #cbc750;
  background: url(templatemo_h1_bg.jpg);
}
#templatemo-content-right h2{
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #e6e154;
}
#templatemo-content-right h3{
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #85391f;
}
#templatemo-content-right ul{
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  list-style: none;
}
#templatemo-content-right li{
  padding: 0 0 3px 0;
}
#templatemo-content-right .image-panel{
  float: left;
  width: 100px;
  margin-right: 20px;
}
#templatemo-content-right p{
  text-align: justify;
  padding: 0 0 8px 0;
}
.templatemo-product-box h1 span{
  font-weight: normal;
}
.templatemo-product-box img{
  float: left;
  margin-right: 10px;
}
.product-info{
  float: right;
  width: 55%;
}
.product-info p{
  margin-bottom: 15px;
}
/* end of content */

/* footer */
#templatemo-footer{
  clear: both;
  width: 948px;
  padding: 20px 0px 20px 0;
  text-align: center;
  border-top: 1px solid #25211e;
  color: #999;
  background-color: #111110;
  margin-top: 58% !important;
}
#templatemo-footer a{
  color: #fff;
  font-weight: normal;
}
/* end of footer */
.item-menu{
  float: right;
}
.img-detail img{
  width: 200px;
  height: 250px;
}
.clr{
  clear: both;
}
.product-item{
  margin-bottom: 20px;
}
.detail-product{
  .icon-button{
  margin-top: 50px;
  }
  a{
  margin-right: 20px;
  }
}
.detail-product a i{
  font-size: 30px;
  color: white;
}
.detail-product a i:hover{
  color: red;
}
.review{
  margin-top: 30px;
  h2{
  background: none !important;
   text-align: center;
  }
  .form-group label{
  display: block;
  }
  .form-group textarea{
  width: 100%;
  height: 200px;
  color: black;
  }
}
.navbar-form{
  margin-top: -7px;
}
#form-review{
  color: black;
  textarea{
  font-size: 13px;
  }
  label{
  font-size: 14px;
  }
}
#select-review{
  height: 30px;
  line-height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#signup-btn, #login-btn{
  padding: 3px 10px;
  margin-top: -5px;
  font-size: 15px;
  border-radius: 6px;
  margin-right: 5px;
}
.signup-input, .login-input{
  width: 80%;
  display: block;
}
.signup-label{
  color: #cbc750;
  display: block;
  margin-left: 0px;
}
.login-label{
  color: black;
}
.remember{
  color: black;
  display: block;

}
.signup-btn{
  margin-top: 20px;
}
.login-btn{
  margin-left: 100px;
  margin-top: 20px;
}
.check-box{
  margin-left: 0px !important;
}
.remember{
  padding-left: 20px;
  padding-top: 3px;
}
.new-user{
  color: black;
  display: inline;
  a{
   padding: 0px !important;
  }
  margin-top: 20px;
}
.modal-header{
  color: black;
}
.alert-success{
  background-color: none !important;
}
.alert-danger{
  background-color: none !important;
}
.signup{
  margin-left: 150px;
}
#error-explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field-with-errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}
#templatemo-menu ul .item-link a:hover{
  background-color: black !important;
}
#templatemo-menu ul .item-link a{
  width: 100%;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.admin-cate{
  margin-top: 20px;
  table th, table td{
    height: 30px;
    border: 1px solid white;
    padding: 10px;
    width: 100px;
  }
}
#myModal4{
  color: black;
  h3{
    text-align: center;
  }
  label, input{
    font-size: 12px;
    height: 25px;
  }
  .add-cate{
    margin-left: 43%;
  }
}
.title-th{
  width: 200px;
}
.select-css{
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  color: black;
  font-size: 13px;
}
.img-view img{
  width: 150px;
  height: 100px;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
#menu-cate{
  margin-left: 16px;
  margin-top:20px;
  margin-bottom: 30px;
  span{
    font-size: 30px;
    margin-left: 28%;
    color: Blue;
    font-weight: bold;
  }
}
#error-data{
  margin-top: 20px;
  h2{
    text-align: center;
  }
}
.review{
  margin-top: 30px;
  .content-review{
    span{
      font-weight: bold;
      font-size: 14px;
      a:hover{
        color: red;
      }
    }
    .time{
      color: #0975B5;
      display: block;
    }
    .action{
      a{
        font-size: 11px !important;
      }
    }
  }
  .user-review{
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    a{
      display: block;
      width: 100%;
    }
  }
  .time{
    margin-bottom: 20px;
    margin-left: 89px;
  }
}
a:hover{
  text-decoration: none;
}
.profile{
  margin-top: 20px;
}
.like{
  margin: -15px 0px 20px 20px;
  .num-like{
    width: 10%;
    float: left;
    span{
      color: gray;
      font-size: 13px;
    }
  }
  .icon-like{
    font-size: 15px;
    a:hover{
      color: red;
    }
  }
}
.icon-like button{
  border: none;
  background: none;
}
.icon-like button:hover{
  color: #0A75B9;
table td, th{
  border: 1px solid;
  padding: 10px;
}
#myModalCat{
  color: black;
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users_follow {
  padding: 0;
}
}
}
