<div class="templatemo-content-left-section">
  <h1><%= t "categories" %></h1>
  <ul>
    <% @categories.each do |categories| %>
      <li>
        <%= link_to categories.name, category_path(categories) %>
      </li>
    <% end %>
  </ul>
</div>
